<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <h1>Welcome to Quoting Dojo</h1>
<form action="/quotes" method="post">
  <label>Your Name:</label>
  <input type="text" name = "name">
  <label>Your Quote:</label>
  <input type="text" name = "quote">
  <button type="submit">Add my quote!</button>
</form>
<form action="/quotes">
  <button type="submit">Skip to quotes!</button>
</form>
</body>
</html>
